body {
    /*font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;*/
    font-family: 'Roboto', sans-serif;
}

.total-table {
    font-size: 16px;
}

.row-center {
    vertical-align: middle !important;
}

.spinner {
  margin: 35% 35% 0 auto;
  width: 100px;
  text-align: center;
  z-index: 9999;
}

.spinner > div {
  width: 20px;
  height: 20px;
  margin-left: 3px;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.64s;
  animation-delay: -0.64s;
  background-color: #4285f4;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
  background-color: #ea4335;
}

.spinner .bounce3 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  background-color: #fbbc05;
}

.spinner .bounce4 {
  -webkit-animation-delay: -0.08s;
  animation-delay: -0.08s;
  background-color: #34a853;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.thead-inverse th {
  color: #fff;
  background-color: #373a3c;
}

.thead-default th {
  color: #55595c;
  background-color: #eceeef;
}

.thead-primary th {
  color: #fff;
  background-color: #0275d8;
}

.thead-success th {
  color: #fff;
  background-color: #5cb85c;
}

.thead-danger th {
  color: #fff;
  background-color: #c9302c;
}

.thead-warning th {
  color: #fff;
  background-color: #f0ad4e;
}

.thead-info th {
  color: #fff;
  background-color: #31b0d5;
}

.total {
  color: #fff;
  background-color: #0275d8;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
